*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'IBM Plex Sans KR', sans-serif;
    
}
header h6{
    margin-bottom: 0;
}
.intro{
    background-image: url(imgs/Studio_Project.png), linear-gradient( rgb(0, 59, 255), rgb(255, 255, 255) );
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background: ;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 100;
    top: 0;
    left: 0;
    cursor: default;
    text-align: center;
/*    display: none;*/
    
}
.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: 0.5s;
}
.intro .logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-weight: 900;
/*    display: block;*/
}
.logo.active{
    bottom: 0;
/*    display: none;*/
    opacity: 1;
    transition: ease-in-out 0.5s; 
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.skill{
}
.intro .logo2{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-weight: 900;
}
.logo2.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s; 
}
.logo2.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
header{
    justify-content: space-between;
    display: grid;
    grid-column: 3;
    grid-template-columns: 1fr 1fr 0fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
    align-content: center;
    position: relative;
}
/*li.nav-link*/
/*
.hamburger ul{
    color: #000;
    display: none;
    z-index: 100;
}
*/
.hamburger{
    cursor: pointer;
    transition: 0.5s ease;
}
.hamburger .line{
    transition: 0.5s ease;
}
.hamburger.active{
    position: relative;
    align-items: center;
    transition: 0.5s ease;
}
 .hamburger.active .line:nth-child(3){
     position: absolute;
    transform: rotate(45deg);
}
 .hamburger.active .line:nth-child(1){
    display: none;
     opacity: 0;
}
 .hamburger.active .line:nth-child(2){
    transform: rotate(-45deg); 
}
/*
.hamburger{
    display: grid;
    position: fixed;
    z-index: 100;
    width: 300px;
    background-color: white;
    height: 80%;
    left: 0;
    bottom: 0;
    font-weight: 600;
}
*/
.main-header .navbar{
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}
.main-header .navbar.active{
   height: 25%;
    padding: 0.5rem;
    width: 100%;
    background-color: white;
    position: absolute;
    text-align: center;
    z-index: 11;
    display: grid;
    align-content: normal;
    justify-content: center; 
    
/*
    height: 100%;
    padding: 0.5rem;
    width: 300px;
    text-align: center;
    background-color: white;
    position: absolute;
    text-align: center;
    margin: default;
    z-index: 100000000000000000000000;
    display: grid;
    align-content: normal;
    justify-content: center;
*/
}
main .navbar .nav{
/*
    display: grid;
    height: 100%;
    text-align: center;
*/
    display: grid;
    height: 100%;
    width: 100%;
    text-align: center;
}
.main-header .navbar .nav a{
    color: #000;
    cursor: pointer;
}
.main-header .navbar .nav a{
    color: #000;
    cursor: pointer;
    font-weight: 600;
}
.main-header .navbar .nav a:hover{
    color: #256ef8;
}
.main-header .navbar.active body{
    overflow: hidden;
}
.main-header{
    position: inherit;
}
main{
    position: relative;
}
.title, .search{
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: center;
    cursor: pointer;
}
.hamburger{
    width: 21px;
    height: 21px;
    display: grid;
    margin: 1rem 1.5rem;
}

.hamburger .line{
    width: 100%;
    height: 2px;
    background-color: #000;
}
nav h6, .title h6{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
}
.project-box{
width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
}
.project-tumbnail{
    position: relative;
    /* display: block; */
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.project-tumbnail img {
    width: 100%;
    position: absolute;
    transition: 0.3s ease-in;
    height: 100%;
}

.project-tumbnail:hover img{
    transform: scale(1.2);
}
.project-tumbnail:hover .hover-box{
    height: 100%;
    opacity: 1;
    
}
.project-tumbnail:hover .title-hover{
    top: 80%;
    transform: translate(-50%, -80%;)
}
.hover-box{
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: #0000007a;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease-in;
}
.title-hover{
    top: 65%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -65%);
    transition: 0.3s ease-in;
}
.title-hover hr{
    width: 15%;
    height: 5px;
    margin: 0.5rem auto;
    background-color: white;
    opacity: 1;
}
.title-hover h4{
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
}
.title-hover h4 span{
    font-size: 0.7rem;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.popup{
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 11;
    display: none;
}
.popup.active{
    display: block;
    z-index: 101;
}
.popup-content{
    z-index: 11;
    width: 60%;
    top: 50%;
    height: 70%;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.41);
    left: 50%;
    transform: translate(-50%, -50%);
}
video{
    width: 100%;
/*    height: 100%;*/
}
.close{
        top: -3%;
    position: absolute;
    right: -1%;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
}
footer{
    text-align: center;
    height: 80px;
    display: grid;
    align-items: center;
}
footer h6{
    margin-bottom: 0;
}
footer h6{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.projects-container{
    
    overflow: hidden;
    height: 100vh; 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.project-boxx{
    display: flex;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    scroll-snap-align: start;
    background-repeat: no-repeat;
     
}
.one{
   background: url(imgs/jdm-project.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.two{
   background: url(imgs/IMPOSSIBLE-BUREAU.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.three{
   background: url(imgs/deskpass-project.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.four{
    background: url(imgs/barber-project.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.five{
    background: url(imgs/jovanastill-project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.six{
    background: url(imgs/ETQ-Project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seven{
    background: url(imgs/Forma%20Ideale%20Project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.project-title{
    width: 50%;
    text-align: center;
    align-content: center;
    height: 100%;
    display: grid;
    
}
.project-title h1{
    font-weight: 900;
    font-size: 55px;
}
.project-title span{
    font-weight: 400;
    font-size: 20px
}
.project-desc{
    background-color: rgba(29, 20, 20, 0.53);
    height: 100%;
    width: 100%;
    display: flex;
}
.projects-link{
    width: 50%;
    align-self: center;
    
}
.project-link img{
    width: 100%;
}
.project-link{
    width: 450px;
    margin: 0 auto;
    border-radius: 20px;
}
.project-link img{
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 14px 11px rgb(255 255 255 / 20%);
    transition: 0.2s ease;
}
.project-link img:hover{
   box-shadow: 0px 0px 14px 11px rgb(255 255 255 / 42%);
}
#projects{
    display: none;
}
#projects header{
    border-bottom: none;
}
@media screen and (max-width: 1600px){
    .popup-content {
    z-index: 11;
    width: 60%;
    top: 50%;
    height: fit-content;
    align-content: center;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.41);
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}
    
}
@media screen and (max-width: 1150px){
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
@media screen and (max-width:970px){
    .project-desc {
    display: grid;
    justify-items: center;
}
}
@media screen and (max-width: 880px){
    .projects-link {
    width: 80%;
    align-self: center;
}
    .project-boxx{
        background-position: center;
    }
    .project-link{
        width: 100%;
    }
    .project-desc {
    display: grid;
    justify-items: center;
    grid-gap: 50px;
    align-content: center;
}
    .project-title h1 {
    font-size: 35px;
}
}
@media screen and (max-width: 770px){
.project-box {
    width: 90%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}
    .popup-content{
        width: 90%;
    }
    .projects{
    display: grid;
    grid-template-columns: 1fr;
}
}

@media screen and (max-width: 550px){
    .project-box {
    height: 200px;
}
    .search{
        display: none;
    }
    .logo-header {
    width: 100%;
}
    .logo-header span{
    width: 100%;
}
}